@use '../../variables' as *;

.chat-button {
  position: fixed;
  bottom: 25px;
  right: 25px;
  width: 60px;
  height: 60px;
  background-color: $color-green;
  color: $color-white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 12px rgba(0,0,0,0.2);
  cursor: pointer;
  font-weight: 600;
  font-size: 14px;
  z-index: 200;
  transition: 0.3s;

  &:hover {
    transform: scale(1.1);
    background-color: $color-green-hover;
  }
}